.container-form {
    max-width: 600px ;
}
.wrapper-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.wrapper-map {
    height: 10rem;
}

.spinner-border {
    display: none;
}

.active-spinner {
    display: block;
}

.wrapper-cost__err {
    color: red;
}

.container-cost-distance {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    word-break: keep-all;
    padding: 1rem 2rem;
    background-color: #64cc6e;
}

#btn-cost-amount {
    display: flex;
    align-items: center;
    gap: 1rem;
}